.mycontainer {
     padding: 5px;
     margin-left: 15px;
     margin-right: 15px;
}



@media screen and (max-width: 576px) {
     .container {
          background-color: cornsilk;
     }
     img {
          width: 95%;
          height: 95%;
     }
}

